<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ToDo List</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="app">
      <div class="header">
        <div class="container">
          <div class="logo">ToDo List</div>
          <div class="form">
            <input
              type="text"
              :value="inputValue"
              @input="inputChangeHandler"
              @keypress.enter="addTask"
            />
            <button class="btn" @click="addTask">Создать новую запись</button>
          </div>
        </div>
      </div>
      <div
        class="container"
        v-if="todoList.length !== 0 || completedList.length !== 0"
      >
        <h2>
          <span>Активные</span>
          <span class="mask-num">{{ todoList.length }}</span>
        </h2>
        <ul class="mask-list">
          <li v-for="(task, index) in todoList" :key="task.id">
            <div>
              <input type="checkbox" @change="toggleTask(index, 'todo')" />
              <span>{{ task.title }}</span>
            </div>
            <button class="btn-remove" @click="removeTask(index, 'todo')">
              Удалить
            </button>
          </li>
        </ul>
        <h2>
          <span>Выполненные </span>
          <span class="mask-num">{{ completedList.length }}</span>
        </h2>
        <ul class="mask-list complete-list">
          <li v-for="(task, index) in completedList" :key="task.id">
            <div>
              <input
                type="checkbox"
                @change="toggleTask(index, 'completed')"
                checked
              />
              <span>{{ task.title }}</span>
            </div>
            <button class="btn-remove" @click="removeTask(index, 'completed')">
              Удалить
            </button>
          </li>
        </ul>
      </div>
      <div class="container" v-else>У тебя пока нет записей (≧◡≦)</div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./app.js"></script>
  </body>
</html>
